[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
clopy = {editable = true, path = "."}
jinja2 = "*"
wora = "*"
plumbum = "*"

[dev-packages]

[requires]
python_version = "3.10"
